<li class="navPages-item custom">
    <a class="navPages-action custom-menu-toggle" href="#"> {{theme_settings.menuText}} 
        <i class="icon navPages-action-moreIcon" aria-hidden="true"></i>
        <svg><use href="#icon-chevron-down"></use></svg>
    </i></a>
    <ul class="custom-submenu">
        <li>
            <a class="navPages-action" href="{{theme_settings.submenuTextUrl}}">{{theme_settings.submenuText}}</a>
        </li> 
        <li>
            <a class="navPages-action" href="{{theme_settings.submenuTextUrlTwo}}">{{theme_settings.submenuTextTwo }}</a>
        </li>   
    </ul>
</li> 
