$productInfoBlock-backgroundColor: stencilColor('productInfoBlock-backgroundColor');
$productInfoBlock-backgroundColor: stencilColor('productInfoBlock-backgroundColor');
$productInfoBlock-BorderColor: stencilColor('productInfoBlock-BorderColor');
$productInfoBlock-IconColor: stencilColor('productInfoBlock-IconColor');
$productInfoBlock-heading-fontSize: stencilNumber('productInfoBlock-heading-fontSize');

